# Wordpress - ignore core, configuration, examples, uploads and logs.

/node_modules
/vendor
/.env

# Core
/app/wordpress/

# Example themes
/app/wp-content/themes/twenty*/

# Example plugin
/app/wp-content/plugins/hello.php
/app/wp-content/autoptimize
/app/wp-content/mailchimp-for-wp
/app/wp-content/query-monitor
/app/wp-content/ultimate-addons-for-gutenberg
/app/wp-content/wordpress-seo

# Uploads
/app/wp-content/uploads/


# Log files
*.log

# htaccess
/.htaccess
/app/.htaccess

# All plugins
#
# Note: If you wish to whitelist plugins,
# uncomment the next line
#/wp-content/plugins

# All themes
#
# Note: If you wish to whitelist themes,
# uncomment the next line
#/wp-content/themes