/**
   * Comments
   */
.comment-list::before,
.comment-list::after {
  content: "";
  display: table;
}
.comment-list::after {
  clear: both;
}
.comment-list .comment {
  clear: both;
}
.comment-list .comment-meta {
  width: 17.6470588235%;
  float: left;
  margin-right: 5.8823529412%;
  text-align: right;
}
.comment-list .comment-meta .avatar {
  float: right;
}
.comment-list .comment-content {
  padding-bottom: ms(6);
  margin-bottom: ms(6);
}
.comment-list .comment-content,
.comment-list #respond {
  width: 76.4705882353%;
  float: right;
  margin-right: 0;
}
.comment-list #respond {
  float: right;
}
.comment-list #respond .comment-form-author,
.comment-list #respond .comment-form-email,
.comment-list #respond .comment-form-url {
  width: 100%;
  margin-right: 0;
}
.comment-list .comment-body #respond {
  box-shadow: 0 6px 2em rgba(0, 0, 0, 0.2);
  margin-bottom: ms(5);
  margin-top: -ms(3);
}
.comment-list .reply {
  clear: both;
  text-align: right;
}
.comment-list ol.children {
  width: 88.2352941176%;
  float: right;
  margin-right: 0;
  list-style: none;
}
.comment-list ol.children .comment-meta {
  width: 20%;
  float: left;
  margin-right: 6.6666666667%;
}
.comment-list ol.children .comment-content,
.comment-list ol.children #respond {
  width: 73.3333333333%;
  float: right;
  margin-right: 0;
}
.comment-list ol.children ol.children {
  width: 86.6666666667%;
  float: right;
  margin-right: 0;
}
.comment-list ol.children ol.children .comment-meta {
  width: 23.0769230769%;
  float: left;
  margin-right: 7.6923076923%;
}
.comment-list ol.children ol.children .comment-content,
.comment-list ol.children ol.children #respond {
  width: 69.2307692308%;
  float: right;
  margin-right: 0;
}
.comment-list ol.children ol.children ol.children {
  width: 84.6153846154%;
  float: right;
  margin-right: 0;
}
.comment-list ol.children ol.children ol.children .comment-meta {
  width: 27.2727272727%;
  float: left;
  margin-right: 9.0909090909%;
}
.comment-list ol.children ol.children ol.children .comment-content,
.comment-list ol.children ol.children ol.children #respond {
  width: 63.6363636364%;
  float: right;
  margin-right: 0;
}
.comment-list ol.children ol.children ol.children ol.children {
  width: 81.8181818182%;
  float: right;
  margin-right: 0;
}
.comment-list ol.children ol.children ol.children ol.children .comment-meta {
  width: 33.3333333333%;
  float: left;
  margin-right: 11.1111111111%;
}
.comment-list ol.children ol.children ol.children ol.children .comment-content,
.comment-list ol.children ol.children ol.children ol.children #respond {
  width: 55.5555555556%;
  float: right;
  margin-right: 0;
}

#respond {
  padding: ms(5);
}
#respond .comment-form-author,
#respond .comment-form-email,
#respond .comment-form-url {
  width: 29.4117647059%;
  float: left;
  margin-right: 5.8823529412%;
}
#respond .comment-form-url {
  float: right;
  margin-right: 0;
}
#respond .comment-form-comment {
  clear: both;
}
