html {
  font-size: 100%; // font size default browser config
  font-family: sans-serif, Arial, Helvetica;
  scroll-behavior: smooth;
  color: var(--color-text);
}

body {
  line-height: var(--line-height-body);
}

h1,
h2,
h3,
h4 {
  position: relative;
  margin-bottom: var(--space-sm);
  font-weight: 700;
  line-height: var(--line-height-heading);
}

p,
ul,
ol,
table,
blockquote {
  position: relative;
  margin-bottom: var(--space-unit);
}

p {
  font-size: var(--text-size-base);
}

h1 {
  font-size: var(--text-xxl);
}

h2 {
  font-size: var(--text-xl);
}

h3 {
  font-size: var(--text-lg);
}

h4 {
  font-size: var(--text-md);
}

a {
  position: relative;
  color: var(--color-link);
  text-decoration: none;

  &:hover {
    color: var(--color-primary-higher);
  }
}

ul {
  padding-left: var(--space-md);
}

mark {
  color: inherit;
  background-color: alpha(var(--color-info), 0.2);
}

hr {
  height: 1px;
}

figcaption {
  color: var(--color-grey-high);
  font-size: var(--text-sm);
}

svg {
  position: relative;
  width: 1.2em;
  height: 1.2em;
  fill: var(--color-text);
}
