.archive .format-standard,
.blog .format-standard {
  display: block;
  border-bottom: var(--border-size) solid var(--border-color);
  margin-bottom: var(--space-unit);
  padding: var(--space-unit);
  &:first-child {
    border-top: var(--border-size) solid var(--border-color);
  }
}
