/**
   * Footer widgets
   */
.footer-widgets {
  padding-top: ms(7);
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
}
.footer-widgets::before,
.footer-widgets::after {
  content: "";
  display: table;
}
.footer-widgets::after {
  clear: both;
}
.footer-widgets.col-2 .block {
  width: 47.8260869565%;
  float: left;
  margin-right: 4.347826087%;
}
.footer-widgets.col-2 .block.footer-widget-2 {
  float: right;
  margin-right: 0;
}
.footer-widgets.col-3 .block {
  width: 30.4347826087%;
  float: left;
  margin-right: 4.347826087%;
}
.footer-widgets.col-3 .block.footer-widget-3 {
  float: right;
  margin-right: 0;
}
.footer-widgets.col-4 .block {
  width: 21.7391304348%;
  float: left;
  margin-right: 4.347826087%;
}
.footer-widgets.col-4 .block.footer-widget-4 {
  float: right;
  margin-right: 0;
}
